.formlayout{
   
        padding: 1em 2em;
        margin-left: 30%;
        margin-right: 30%;
        // background: #41505d;
        // box-shadow: 0px 0px 0px 10px #d6ebff;
        // border: dashed 2px white;
 
    
}

// <textarea
//         style={{ width: '150%', height: '200x', resize: 'vertical' }}
//         wrap="hard"
//         //   type="text"
//         value={formData.detail}
//         onChange={(e) => setFormData({ ...formData, detail: e.target.value })}
//         placeholder="詳細文"
//         /><br></br>